
    
        .card{
          transition: all 200ms ease-in-out;
        }
        .card:hover{
          transform: scale(1.07);
        
        }
        
        
        .img_1{
            width: 300px;
            height: 258px;
            object-fit: cover;
        }
    